@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lexend', 'Arial';
}

canvas {
  background: #1B1A22;
}